# Ignore everything
*
# But do not ignore solution/ directory
!solution/
# Also don't ignore the .gitignore file itself
!.gitignore
# Ignore specific files in solution/ that shouldn't be tracked
solution/.lcpr_data/
solution/.lcpr_data/**
!solution/*